@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-modal {
  animation: fade-in-animation 400ms ease-in-out forwards;
}
.fade-in-content {
  animation: fade-in-animation 700ms ease-in-out forwards;
}
.Toastify__progress-bar {
  background: white !important;
  opacity: 1 !important;
  filter: brightness(1.2);
}
.Toastify__toast-container {
  left: 47.5% !important;
  transform: translateX(-50%) !important;
}
@keyframes slideIn {
  0% {
    transform: translateX(100vw);
}
100% {
    transform: translateX(0);
}
}
@keyframes slideDown {
  0% {
    transform: translateY(-100vw);
}
100% {
    transform: translateY(0);
}
}
.slide-down-content{
  animation: slideDown 500ms forwards ease-out;
}
.slide-in-content{
  animation: slideIn 500ms forwards ease-out;
}
@keyframes slideOut {
  0% {
    transform: translateX(-100vw);
}
100% {
    transform: translateX(0);
}
}
.slide-out-content{
  animation: slideOut 500ms forwards ease-out;
}